* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(250, 177, 160);
}

.container {
    width: 1140px;
    margin: 0px auto;
}

.result_now {
    width: 450px;
    /* background: rgb(219, 96, 96); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px 0px 60px;
}

.rlt_title {
    margin-bottom: 35px;
    background: rgb(0 0 0 / 28%);
    padding: 10px;
    box-shadow: 0px 0px 200px 0px;
}
.result_item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
}
.result_item h3 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.rlt_title p {
    font-size: 21px;
    color: rgb(117 227 205);
}

.feild_result {
    text-align: center;
    margin-bottom: 30px;
}

.feild_result input {
    padding: 10px;
    border: none;
    outline: none;
}

.feild_result button {
    padding: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    background: rgb(25, 100, 122);
    color: rgb(255, 255, 255);
    font-size: 13px;
    width: 95px;
}

/* .result_explain {
    width: 450px;
    background: #ee5253;
    text-align: center;
    color: #fff;
    padding: 10px;
    margin: auto;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    border-radius: 35px;
} */
#explain{
    display: none;
}
h3#explain {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    background: #0c0c0c14;
    padding: 8px;
    border-radius: 365px;
}
/* dark mode */

body.dark {
    background: #000000cf;
}
.dark_theme.solid_icon i {
    position: fixed;
    right: 30px;
    top: 50%;
    width: 10px;
    height: 10px;
    background: linear-gradient(to right, rgb(244, 92, 67), rgb(235, 51, 73));
    border-radius: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    z-index: 999;
    color: #fff;
  }
  
  .dark_theme.solid_icon i:hover {
    background: linear-gradient(to right, rgb(235, 51, 73), rgb(244, 92, 67));
  }

@media screen and (max-width: 460px) {
    
.result_now {
    width: 100%;
    padding: 0px 15px;
  }
  
.dark_theme.solid_icon i {
    right: 20px;
    top: 35%;
    color: #fff;
  }
}